version: 1.BETA.{build}
image: Visual Studio 2019
# skip_tags is important or you will get an infinite build loop when we apply release tags
skip_tags: true
skip_branch_with_pr: true

environment:
  svn_url: https://svn.code.sf.net/p/stones2stars/code/trunk
  release_prefix: Stones2Stars
  build_dir: _build
  release_branch: release
  svn_user: flabbert
  svn_pass:
    secure: efqMSfRmcQ/gAFwKmNJJsggbme/V0jkASdN9GAWmjco=
  WEBHOOK_URL:
    secure: osDyXDMRQjB4gRlyK6seR5vhHl/BZwPjNFfcXrQd7CvOeE/sSLAZpRbzH2Pqg+H3roGiZDiZSHJuR0hp3earhzfOx4C6womhPEfQ5yEzMeqVPwY/0kfqSllk+qAGf83h5+LCMbtKhVcErEizteHRnmDO826uKnojg8SNJyD5ggY=
  git_email:
    secure: GZUVMT+I2euad6UK8HZesUOPYg+MYkzNF6mv20l2G/M=
  git_user:
    secure: Vf1NNRmM/Ms+Jcp/Rxb7Sg==
  git_access_token:
    secure: 2p5XvFyBlcD1dGhQQr1qvlaC/SNrlTi8kNEvEvduPkKJuGVfcfJ9X0r+OzHYtPkw

cache:
- Sources/deps -> Tools\deps.exe appveyor.yml Tools/InstallDeps.bat
- Sources\temp_files\Debug

build_script:
  - cmd: >-
      call Powershell.exe -NoProfile -ExecutionPolicy Bypass -File "%APPVEYOR_BUILD_FOLDER%\Tools\CI\fix_sources_timestamps.ps1"

      call "%APPVEYOR_BUILD_FOLDER%\Tools\_AppveyorTestBuild.bat"

test_script:
  - cmd: >-
      cd Tools

      XmlValidator.exe -a

deploy_script:
  - cmd: >-
      call "%APPVEYOR_BUILD_FOLDER%\Tools\CI\DeployBuild.bat"

      call "%APPVEYOR_BUILD_FOLDER%\Tools\_TrimFBuildCache.bat"

on_success:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 success $env:WEBHOOK_URL
on_failure:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 failure $env:WEBHOOK_URL